@font-face {
  font-family: "Ted Next Condensed";
  src: url(../fonts/TedNext-CondensedItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: "Ted Next Condensed";
  src: url(../fonts/TedNext-CondensedBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-Bold.ttf) format("truetype");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-BoldItalic.ttf) format("truetype");
  font-weight: 900;
  font-style: italic
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-Italic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: "Ted Next";
  src: url(../fonts/TedNext-SemiBoldItalic.ttf) format("truetype");
  font-weight: 600;
  font-style: italic
}

* {
  font-family: 'Ted Next' !important;
}

body{
    padding:0;
    margin:0;
  
}

.content{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding-top:15px;
}


.subheader{
    height:60px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    padding: 0 24px;
}
.subheader-list{
  display:none;
}
 .main-nav{
    
    display:none;
    
} 
#main-logo{
  width:167px;
  height:30px;
}
#logo-img{
  width:100%;
  height:100%;
}
.flex-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  width:100px;
}
#hamburger-menu {
    width: 26px;
    height: 20px;
    position: relative;
    transform: rotate(180deg);
    cursor: pointer;
  }

  #hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #858585;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition:all 1s cubic-bezier(.4,0,.2,1);
  }
  .nav-card{
    padding: 16px 24px;
  }

  ul{
    list-style-type: none;
    border-bottom: 1px solid #adadad;
    margin:0;
    padding:10px 0; 
  }
  .padding{
    padding: 2px 0;
  }

  ul:last-child{
    border:none;
  }

  li{
    padding: 10px 12px;
    cursor:pointer;
  }
  .nav-card>ul li:hover{
    background-color:#F5F5F5;
  }


  li a{
    text-decoration:none;
    width:100%;
    height: 40px;
    font-size: 1rem;
    font-family: 'arial';
    height: 40px;
    color:#1f1f1f;
    
    }
    .center{
      display: flex;
      
      align-items:center;
    }
    #weight{
      font-weight:600;
    }

/* =============== Nav Card Toggle =================== */

    .nav-card{
      transition:all 1s cubic-bezier(.4,0,.2,1);
      transform:translateX(-100%);
      box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
      height:100vh;
    }


    .toggle{
      transform:translateX(0);
      
    }
  

/* ============== Hamburger Menu ====================== */
#hamburger-menu span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(2) {
  top: 10px;
  transform-origin: left center;
}

#hamburger-menu span:nth-child(3) {
  top: 20px;
  transform-origin: left center;
}

/* ================ Menu Animation =====================  */
#hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 1px;
  left: 2px;
}

#hamburger-menu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#hamburger-menu.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 19px;
  left: 2px;

}


/* ====================== Media Queries Desktop =====================  */
@media(min-width:900px){

.main-nav{
    height:50px;
    padding: 0 24px;
    background-color:#da291c;
    box-shadow:none;
    display:flex;
    flex-direction:center;
    justify-content: center;
}
.subheader{
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.container{
  padding:0;
  width:100%;
  display:flex;
    justify-content: center;
    align-items: center;
}
.content{
  display:flex;
    justify-content: space-between;
    align-items: center;
    width:1200px;
    padding-top:0;
}

#main-logo{
  width:160px;
  height:28px;
}
#hamburger-menu{
    display:none;
}

.main-nav-list{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border-bottom:none;
}
.main-nav-list li{
  padding: 6px 10px;
}

.main-nav-list li a{
  color:#fff;
  font-weight:200;
}

.subheader-list{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  border:none;
  
}

.subheader-list li a{
  font-size: 1.5rem;
}
.nav-card{
  display:none;
}
#text:hover{
  text-decoration:underline;
}

}
@media(min-width:1100px){
  #main-logo{
    width:190px;
    height:34px;
  }
}

/* ========================= Rds Icons Container =======================  */

.rds-icon-location:before {
  content: '\e91c';
  margin-right: 6px;
  font-size: 1.1rem;
  
}

.rds-icon-avatar:before {
  content: '\e90d';
  margin-right: 6px;
  font-size: 1.1rem;
  text-decoration:none !important;
}




@font-face {
  font-family: rds-icon;
  src: url(rds-icon.ttf?dgzehu) format("truetype"),url(rds-icon.woff?dgzehu) format("woff"),url(rds-icon.svg?dgzehu#rds-icon-) format("svg");
  font-weight: 400;
  font-style: normal
}

[class*=' rds-icon-'], [class^=rds-icon-] {
  font-family: rds-icon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}